In [30]:
def desc(number):
    if type(number) == int and number >= 0:
        numberlist=[]
        for x in str(number):
            numberlist.append(x)
        strlist=[int(x) for x in numberlist]
        sortlist=sorted(strlist, reverse=True)
        number=""
        for i in sortlist:
            number="".join([str(i) for i in sortlist])
       
        print(number)
        
    else:
        print(111111)
#Test case with positive integer values 
desc(567)

#Test case withh negative values
desc(-123)

765
111111

In [12]:
import pandas as pd
import numpy as np

jeopardy="JEOPARDY_CSV.csv"


#Making the datafram
jeopardy_df = pd.read_csv("JEOPARDY_CSV.csv")

#Looking to see a preview of the data
print(jeopardy_df.head())

#Identifying the number of rows in the dataframe
index=jeopardy_df.index
number_rows=len(index)
print(number_rows)

#The rows represent all of the data about individual questions. 
#Each row contains information on which show number, its airdate, the round, category, value, actual question and answer for each unique question.

#Trying to identify the number of unique shows. I'm not sure if value_counts work here.
jeopardy_df.value_counts("Show Number")

#We may wish to know the number of unique categories represented in this dataframe
jeopardy_df.value_counts(" Category")

   Show Number    Air Date      Round                         Category  Value  \
0         4680  12/31/2004  Jeopardy!                          HISTORY  $200
1         4680  12/31/2004  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  12/31/2004  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  12/31/2004  Jeopardy!                 THE COMPANY LINE  $200
4         4680  12/31/2004  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                            Question      Answer
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams
216930

 Category
BEFORE & AFTER           547
SCIENCE                  519
LITERATURE               496
AMERICAN HISTORY         418
POTPOURRI                401
                        ...
THE THIRD CENTURY          1
IN VENICE                  1
BOOK TITLE REFERENCES      1
POETIC SUBJECTS            1
GEOGRAPHIC MEANINGS        1
Length: 27983, dtype: int64